<body>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10" style="padding: 0px 20px 0px 60px;">
                    <p>Copyright &copy; {{ datetime.now().year }} Ayar Yadanar Education Center | Powered by Leveling</p>
                </div>
                <div class="col-2" style="padding: 0px 20px 0px 60px; float: right;">
                    <a href="https://www.facebook.com/levelingeducationservice">
                        <i class="fa-brands fa-facebook fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>