<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" id="brand" href="/"><img id="logo_img" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo-leveling">Leveling Academy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">

  
          {% if logged_in %}
          <ul class="navbar-nav">
            <li class="navbar-item">
              <a class="nav-link" href="/logout">logout</a>
            </li>
          </ul>
          {% else %}
            <ul class="navbar-nav">
              <li class="navbar-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          {% endif %}

          
        </div>
      </div>
    </nav>
</body>
  