<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

    <link rel="stylesheet" href="/static/style/admin_style.css">
</head>
<body>
    <div class="dashboard-container">
        <aside class="sidebar">
            <div class="logo">
            <img src="/static/images/logo.png" alt="logo">
            <h2>Leveling Academy</h2>
            </div>
            <ul class="links">
                <h5>Main Menu</h5>
                <li>
                    <span class="material-symbols-outlined">dashboard</span>
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <hr>
                <h5>Course</h5>
                <li>
                    <span class="material-symbols-outlined">history_edu</span>
                    <a href="/admin/course_management">Course Management</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">grade</span>
                    <a href="/coming_soon">Grades</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">badge</span>
                    <a href="/coming_soon">Student Card</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">lab_profile</span>
                    <a href="/coming_soon">Report Card</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">attach_money</span>
                    <a href="/admin/payments">Payments</a>
                </li>
                <hr>
                <h5>Account</h5>
                <li>
                    <span class="material-symbols-outlined">manage_accounts</span>
                    <a href="/admin/user_management">User Management</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">payments</span>
                    <a href="/coming_soon">Salary</a>
                </li>
                <li class="logout-link">
                    <span class="material-symbols-outlined">logout</span>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </aside>

        <section class="content">
            {% block content %}
            
            {% endblock %}
        </section>
    </div>
</body>
</html>